{% extends 'main.html' %}
{% block MAIN_STYLE %}
<style>
    .home-container{
        display:grid;
        grid-template-columns: 1fr 3fr 1fr;        
    }

</style>

{% endblock MAIN_STYLE %}
{% block MAIN_CONTENT %}
<div class="home-container">
    <div>
        {% include 'base/topics_component.html' %}
    </div>
    <div>
        <h5>{{room_count}} rooms_available</h5>
        <a href="{% url 'create-room' %}">Create Room</a>
        {% include 'base/feed_component.html' %}
    </div>
    <div>
        {% include 'base/activity_component.html' %}
    </div>
</div>
{% endblock MAIN_CONTENT %}